{% load static %}

    <!-- Features -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Como proceder e os benefícios do sistema.</h2>
                    <p class="p-heading">Vá ate a biblioteca da sua escola e solicite o seu cadastro para poder acessar online.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="fas fa-headphones-alt green"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Alunos e Professores</h4>
                            <p>Obtendo o acesso através do cadastro feito pelo bibliotecário da sua escola, será possível verificar os livros e materiais didáticos disponíveis. </p>

                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-clipboard blue"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Gestão dos Empréstimos de Materiais</h4>
                            <p>O sistema informatizado ajudará a escola á gerenciar os empréstimos entre Escola-Aluno e Escola-Professor. </p>

                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon-wrapper">
                            <div class="card-icon">
                                <span class="far fa-comments purple"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Gestão do Conteúdo</h4>
                            <p>Agora fica de uma certa maneira fácil a escola gerenciar o conteúdo da escola através do sistema informatizado, verificando o conteúdo disponível e os que venham ser necessários para os alunos e professores.</p>

                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->
