{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Header -->
{% include 'header.html' %}
    <!-- end of header -->

    <!-- Customers -->
{% include 'customers.html' %}
    <!-- end of customers -->

    <!-- Introduction -->
{% include 'introduction.html' %}
    <!-- end of introduction -->

    <!-- Features -->
{% include 'features.html' %}
    <!-- end of features -->

    <!-- Testimonials -->
{% include 'testimonials.html' %}
    <!-- end of testimonials -->

{% endblock %}