{% load static %}

    <!-- Introduction -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img class="img-fluid" src="{% static 'images/introduction.jpg' %}" alt="alternative">
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Este sistema informatizado está aqui para ajudar as escolas e os alunos</h2>
                        <p>Agora voce pode verificar os livros que tem na sua escola de forma online e verificar também se está disponível para voce ir até a sua escola e fazer o empréstimo para ajudar nos seus estudos, e a sua escola pode acompanhar a gestão dos empréstimos e podendo-lhe avisar sobre o término do empréstimo caso venha esquecer de devolver.</p>
                        <a class="btn-solid-reg" href="admin">Acessar</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->
