{% load static %}


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Termos e Condições</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="text-box mt-5 mb-5">
                        <p class="p-large">Informações de extrema importância para obter e manter uma excelente biblioteca para todos.</p>
                    </div> <!-- end of text-box -->

                    <h2 class="mb-3">1. O ato de empréstimo do material didático ou livro.</h2>
                    <p>No momento do empréstimo do item, o aluno ou professor deverá verificar o estado do item e comunicar o bibliotecário sobre qualquer avaria do item antes de concretizar o emprestimo pelo sistema.</p>


                    <h2 class="mb-3">2. Devolução do material didático ou livro</h2>
                    <p>A devolução deverá acontecer dentro do prazo de devolução e mantendo a condição do item conforme foi emprestado pela biblioteca.</p>

                    <ul class="list-unstyled li-space-lg mb-4">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Modificado ou avariado:</strong> Será cobrado do aluno ou professor o preço de aquisição de um novo item pela biblioteca.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong> Perda ou desaparecimento do item:</strong> Será cobrado do aluno ou professor o preço de aquisição de um novo item pela biblioteca.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Em caso de entrega atrasada:</strong> A cada dia contado como atrasado será penalizada em quantidades de carência para adquirir novos emprestimos pela biblioteca.</div>
                        </li>
                    </ul>


                    <h2 class="mb-3">3. Em caso de cadastro solicitado com outra identificação</h2>
                    <p class="mb-5">Será levado as autoridades policiais informando o caso e caracterizando como falsidade ideológica, onde venha sofrer penalização judicial cabivél.</p>


                    <h2 class="mb-3">4. Responsabilidades do gestor do sistema</h2>
                    <p class="mb-4">A pessoa responsável pela biblioteca deverá ser o gestor do sistema e obtendo as responsabilidades abaixo:</p>
                    <ul class="list-unstyled li-space-lg mb-5">
                        <li class="media">
                            <strong>1.</strong>
                            <div class="media-body"><strong>Cadastro dos materiais didático no sistema:</strong> O cadastro dos livros e materiais didaticos no sistema deverá ser feito com atenção e acessando local especifico no sistema conforme instrução do grupo desenvolvedor.</div>
                        </li>
                        <li class="media">
                            <strong>2.</strong>
                            <div class="media-body"><strong>Cadastro dos alunos e professores no sistema:</strong> O cadastro de pessoas no sistema deverá ser feito basendo na legitimidade do documento apresentado, apenas alunos e professores poderam ser cadastrados no sistema para visualização.</div>
                        </li>
                        <li class="media">
                            <strong>3.</strong>
                            <div class="media-body"><strong>Comunicar a diretoria da escola:</strong> A comunicação deverá ser feita sobre qualquer probelma que a biblioteca venha estar sofrendo, como atraso do material e sem retorno da cobrança, avarias, falsidade ideologica e etc.</div>
                        </li>
                        <li class="media">
                            <strong>4.</strong>
                            <div class="media-body"><strong>Reportar quaisquer problema no sistema:</strong> A responsabilidade do bibliotecario comunicar e solicitar quaisquer melhoria no sistema ao grupo desenvolver do sistema.</div>
                        </li>
                        <li class="media">
                            <strong>5.</strong>
                            <div class="media-body"><strong>Manter a integridade dos dados pessoais:</strong> A gestão e proteção dos dados está restrita a bibliotecaria sobre o sistema, ninguem mais tem acesso aos dados cadastrados ao não ser o gestor do sistema (Bibliotecario).</div>
                        </li>
                    </ul>


                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

    <!-- VLIBRAS -->

    <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
